* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* -------------------------------------- CSS DEL MENU DE ENLACES -----------------------------*/
body {
    font-family: Arial, sans-serif;
    padding-top: 118px; /* Altura del nav para compensar su posición fija */
}

body::before {
    content: ""; /* Elemento vacío para el fondo */
    position: fixed; /* Cubre toda la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../img/hotelPrincipal.jpg'); /* Imagen de fondo */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.2; /* Ajusta solo la opacidad de la imagen */
    z-index: -1; /* Coloca detrás del contenido */
}

/* CONTENEDOR DEL PERFIL */
.profile-container {
    max-width: 800px;
    margin: 32px auto;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
    background-color: white;
}

.profile-container h1 {
    font-size: 40px;
    color: #000000;
    margin-bottom: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
}

.form-group label {
    font-size: 17.6px;
    color: #f57c00;
    margin-bottom: 8px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #444444;
    border-radius: 5px;
    font-size: 16px;
    color: #000000;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #f57c00;
    background-color: #888888;
    outline: none;
    color: white;
}

button {
    padding: 12px 24px;
    font-size: 17.6px;
    font-weight: bold;
    color: #121212;
    background-color: #f57c00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    align-self: center;
}

button:hover {
    background-color: #ff9800;
    transform: scale(1.05);
}

/* RESPONSIVO */
@media (max-width: 768px) {
    .profile-container {
        padding: 24px;
    }

    .profile-container h1 {
        font-size: 32px;
    }
}

/* Botón Atrás */
.a1 {
    display: inline-block;
    padding: 12px 24px;
    font-size: 17.6px;
    font-weight: bold;
    color: #ffffff;
    background-color: #444;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    margin-top: 16px;
}

.a1:hover {
    background-color: #666;
    transform: scale(1.05);
}

/* EFECTOS CSS ERROR  */
.error-container {
    background-color: #ffecec;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    color: #721c24;
}

.error-message {
    font-size: 14px;
    margin: 0;
}